<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title layout:title-pattern="$LAYOUT_TITLE — $CONTENT_TITLE">BRQ</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="https://www.brq.com"><img
			src="https://www.brq.com/_nuxt/image/1cbaa8.webp" width="150"
			alt="100"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href='/candidato/home'>PÁGINA INICIAL</a></li>
			</ul>
		</div>
		 <div class="g-col-5 g-start-6">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href='/candidato/cadastrar'>CADASTRAR</a></li>
				<li class="nav-item active"><a class="nav-link"
					href='/candidato/listar'>CANDIDATOS </a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div layout:fragment="conteudo"></div>
	</div>
	<hr>
	<div layout:fragment="rodape"></div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>